@import be.thomastoye.speelsysteem.models.Child
@import be.thomastoye.speelsysteem.legacy.models.Shift
@import be.thomastoye.speelsysteem.legacy.models.ShiftType
@(childForm: Form[formBindings.PresencesPost],
    children: Seq[(Child.Id, Child)],
    today: org.joda.time.LocalDate,
    shiftsToday: List[(ShiftType, Shift)]
    )(implicit flash: Flash)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import org.joda.time.LocalDate
@import helper._
@import _root_.helpers.DateTime.fmt

@implicitField = @{ FieldConstructor(bootstrap3FieldConstructorTemplate.f) }


@main("Registreer een nieuwe aanwezigheid") {
    <h2>Nieuwe registratie</h2>
    <p></p><em>Enkel activiteiten voor vandaag (@today.toString(fmt)).</em></p>

    @helper.form(action = routes.PresencesController.savePresence, 'class -> "form-horizontal") {
        @select(field = childForm("childId"),
            options = (children.map(c => {
                c._1 -> {c._2.firstName + " " + c._2.lastName}
            })), '_label -> "Kind", 'class -> "form-control selectpicker", Symbol("data-live-search") -> "true"
        )

        @views.html.bootstrap3CheckboxGroup(
            childForm("selectedShiftIds"),
            options = shiftsToday.map(a =>
                (a._2.id.getOrElse(-1L).toString, s"${a._2.date.toString(fmt)} ${a._1.mnemonic} (${a._2.place}) ${if(a._2.date == today) "(vandaag)" else ""}")
            ).toSeq,
            '_label -> "Aanwezigheden"
        )

        @for(shift <- childForm.value.map(_.possibleShifts).getOrElse(Nil)) {
            @helper.input(childForm("possibleShiftIds[]"),
                '_label -> s"Hidden field, you should not be seeing this :) ${shift}",
                'class -> "form-control",
                'value -> shift.id.getOrElse(-1)
            ) { (id, name, value, args) =>
                <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
            }(FieldConstructor(hiddenFieldConstructorTemplate.f), applicationMessages)
        }

        <button type="submit" class="btn btn-primary">Opslaan</button>
    }
}
