@(childForm: Form[models.formBindings.PresencesPost],
    children: List[Child],
    today: org.joda.time.LocalDate,
    activitiesToday: List[(ActivityType, Activity)])(implicit flash: Flash)
@import org.joda.time.LocalDate
@import helper._
@import helpers.DateTime.fmt

@implicitField = @{ FieldConstructor(bootstrap3FieldConstructorTemplate.f) }


@main("Registreer een nieuwe aanwezigheid") {
    <h2>Nieuwe registratie</h2>
    <p></p><em>Enkel activiteiten voor vandaag (@today.toString(fmt)) worden getoond.</em></p>

    @helper.form(action = routes.Presences.savePresence, 'class -> "form-horizontal") {
        @select(field = childForm("childId"),
            options = (children.map(c => {
                c.id.getOrElse(-1).toString -> {c.firstName + " " + c.lastName}
            })), '_label -> "Kind", 'class -> "form-control selectpicker", Symbol("data-live-search") -> "true"
        )

        @inputCheckboxGroup(
            childForm("selectedActivityIds"),
            options = activitiesToday.map(a =>
                (a._2.id.getOrElse(-1L).toString, s"${a._2.date.toString(fmt)} ${a._1.mnemonic} (${a._2.place})")
            ).toSeq,
            '_label -> "Hobbies"
        )

        @for(act <- childForm.get.possibleActivities) {
            @helper.input(childForm("possibleActivityIds[]"),
                '_label -> s"Hidden field, you should not be seeing this :) ${act}",
                'class -> "form-control",
                'value -> act.id.getOrElse(-1)
            ) { (id, name, value, args) =>
                <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
            }
        }

        <button type="submit" class="btn btn-primary">Opslaan</button>
    }
}