@(childForm: Form[models.formBindings.PresencesPost],
    child: Child,
    today: org.joda.time.LocalDate,
    shiftsToday: List[(ShiftType, Shift)])(implicit flash: Flash)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import org.joda.time.LocalDate
@import helper._
@import _root_.helpers.DateTime.fmt

@implicitField = @{ FieldConstructor(bootstrap3FieldConstructorTemplate.f) }


@main("Pas aanwezigheden aan") {
    <h2>Pas aanwezigheden aan</h2>
    <p>
        <em>Dit kind wordt uitgeschreven voor alle activiteiten die je deselecteert.</em>
    </p>

    @helper.form(action = routes.Presences.saveUpdate, 'class -> "form-horizontal") {

        <div class="form-group">
            <label for="childId" class="col-sm-3 control-label">Kind</label>
            <div class="col-sm-9">
                <label class="control-label">@child.firstName @child.lastName</label>
                <input type="hidden" name="childId" id="childId" value="@child.id.getOrElse(-1)">
            </div>
        </div>

        @views.html.bootstrap3CheckboxGroup(
            childForm("selectedShiftIds"),
            options = shiftsToday.map(a =>
                (a._2.id.getOrElse(-1L).toString, s"${a._2.date.toString(fmt)} ${a._1.mnemonic} (${a._2.place})")
            ).toSeq,
            '_label -> "Aanwezigheden"
        )

        @for(act <- childForm.value.map(_.possibleShifts).getOrElse(Nil)) {
            @helper.input(childForm("possibleShiftIds[]"),
                '_label -> s"Hidden field, you should not be seeing this :) ${act}",
                'class -> "form-control",
                'value -> act.id.getOrElse(-1)
            ) { (id, name, value, args) =>
                <input type="hidden" name="@name" id="@id" @toHtmlArgs(args)>
            }(FieldConstructor(hiddenFieldConstructorTemplate.f), applicationMessages)
        }

        <button type="submit" class="btn btn-primary">Opslaan</button>
    }
}