@import be.thomastoye.speelsysteem.legacy.models.Child
@import be.thomastoye.speelsysteem.legacy.models.Shift
@import be.thomastoye.speelsysteem.legacy.models.ShiftType
@(child: Child, presences: List[(Shift, ShiftType)])(implicit flash: Flash)
@import helper._
@import java.text.SimpleDateFormat
@import _root_.helpers.DateTime._

@main("Details voor " + child.firstName + " " + child.lastName) {

        
        <a href="@routes.ChildController.showList">
            <span class="glyphicon glyphicon-chevron-left"></span> Terug naar lijst
        </a>

	<h2>Gegevens</h2>
	<p>
		<a href="@routes.ChildController.editChild(child.id.get)">
			<button type="button" class="btn btn-default">
		  		<span class="glyphicon glyphicon-pencil"></span> Details bewerken
			</button>
		</a>
		<a href="
		    @{
                child.id match {
                    case Some(id) => routes.PresencesController.updateWithId(id)
                    case _ => "#"
                }
		    }
		">
			<button type="button" class="btn btn-default">
		  		<span class="glyphicon glyphicon-pencil"></span> Aanwezigheden aanpassen
			</button>
		</a>
	</p>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<table class="table table-striped">
				<tr><td>Voornaam</td><td>@child.firstName</td></tr>
				<tr><td>Achternaam</td><td>@child.lastName</td></tr>
				<tr><td>Geboortedatum</td>
					<td>
						@child.birthDate.map(_.toString(fmt))
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6 col-md-6">
			<table class="table table-striped">
				<tr><td>Straat</td><td>@child.street @child.streetNumber</td></tr>
				<tr><td>Gemeente</td><td>@child.zipCode @child.city</td></tr>
				<tr><td>GSM-nummer</td><td>@child.mobilePhone</td></tr>
				<tr><td>Thuistelefoon</td><td>@child.landline</td></tr>
			</table>
		</div>
	</div>
	
	<h2>Aanwezigheden</h2>
	
	<ul>
        @for( (act, actType)  <- presences) {
            <li>@act.date.toString(fmt), <abbr title="@actType.description">@actType.mnemonic</abbr> (locatie: @act.place)</li>
        }
	</ul>
	
}