@import be.thomastoye.speelsysteem.models.Child
@(child: Child, id: Child.Id)(implicit flash: Flash)

@main("Details voor " + child.firstName + " " + child.lastName) {
        <a href="@routes.ChildController.showList">
            <span class="glyphicon glyphicon-chevron-left"></span> Terug naar lijst
        </a>

	<h2>Gegevens</h2>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<table class="table table-striped">
				<tr><td>Voornaam</td><td>@child.firstName</td></tr>
				<tr><td>Achternaam</td><td>@child.lastName</td></tr>
				<tr><td>Geboortedatum</td>
					<td>
						@child.birthDate
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6 col-md-6">
			<table class="table table-striped">
				<tr><td>Straat</td><td>@child.address.street @child.address.number</td></tr>
				<tr><td>Gemeente</td><td>@child.address.zipCode @child.address.city</td></tr>
				<tr>
					<td>GSM-nummer</td>
					<td>
						<ul>
							@for(mobile <- child.contact.phone) {
								<li>@mobile.phoneNumber (@mobile.kind.getOrElse("")@mobile.comment.map(x =>", $x"))</li>
							}
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
}