@import be.thomastoye.speelsysteem.models.Child
@(children: Seq[(Child.Id, Child)])(implicit flash: Flash)

@main("Kinderen") {
<h2 class="sub-header">Lijst van alle kinderen</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Naam</th>
                <th>Geboortedatum</th>
                <th>Straat, nummer</th>
                <th>Gemeente</th>
            </tr>
        </thead>
        <tbody>

            @for( (id, child) <- children) {
            <tr>
                <td>
                    <a href="@routes.ChildController.details(id)">
                            @child.firstName @child.lastName
                    </a>
                </td>
                <td>
                    @child.birthDate
                </td>
                <td>@child.address.street @child.address.number</td>
                <td>@child.address.zipCode @child.address.city</td>
            </tr>
            }
        </tbody>
    </table>
</div>

}