@(children: List[Child])(implicit flash: Flash)
@import _root_.helpers.DateTime._

@main("Kinderen") {
<h2 class="sub-header">Lijst van alle kinderen</h2>
<a href="@routes.Children.newChild">
        <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Nieuw kind
        </button>
</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Naam</th>
                <th>Geboortedatum</th>
                <th>Straat, nummer</th>
                <th>Gemeente</th>
            </tr>
        </thead>
        <tbody>

            @for(child <- children) {
            <tr>
                <td>@child.id.getOrElse("/")</td>
                <td>
                    @child.id.map { id =>
                        <a href="@routes.Children.details(id)">
                    }
                            @child.firstName @child.lastName
                    @child.id.map { id =>
                        </a>
                    }
                </td>
                <td>
                    @child.birthDate.map(_.toString(fmt))
                </td>
                <td>@child.street</td>
                <td>@child.city</td>
            </tr>
            }
        </tbody>
    </table>
</div>

}