@()

<!DOCTYPE html>
<html lang="nl" ng-app="speelsysteemApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>speelsysteem</title>

    <!-- Bootstrap -->
    <link href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.min.css"))" rel="stylesheet">

    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">

    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.js"))"></script>
    <script src="@routes.Assets.at("app/controllers/controllers.js")"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))"></script>
    <script src="@routes.Assets.at("app/main.js")"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	@navbar()
    <div class="container">
        <a href="#/">Home</a> - <a href="#/animatoren">Animatoren</a> - <a href="#/kinderen">Kinderen</a> - <a href="#/dagdelen">Dagdelen</a>
    </div>
  	<div class="container" ng-view>
    </div>
  </body>
</html>
