<div class="modal-header">
    <h3 class="modal-title">Zeker dat je dit dagdeel wil verwijderen?</h3>
</div>
<div class="modal-body">
    <p>
        Ben je zeker dat je dit dagdeel wil verwijderen? Deze functie is enkel bedoeld voor dagdelen die verkeerd zijn aangemaakt.
    </p>
    <p>
        Het dagdeel in kwestie is <strong>{{ shift.date }}</strong>, <strong>{{ shift.shiftType.description }}</strong>.
    </p>
    <p ng-hide="shift.presentChildren.length == 0">
        Er zijn <strong>{{ shift.presentChildren.length }}</strong> kinderen ingeschreven voor dit dagdeel.
        Die aanwezigheden worden <strong>ook verwijderd</strong>. Dit is waarschijnlijk niet wat je wil.
    </p>
    <p ng-show="status">
        <em>{{ status }}</em>
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="reallyDelete()">
        <span class="glyphicon glyphicon-trash"></span>
        Echt verwijderen
    </button>
    <button class="btn btn-primary" ng-click="cancel()">Annuleren</button>
</div>