<p>
    <a class="btn btn-danger" ng-click="delete()">
        <span class="glyphicon glyphicon-trash"></span> Verwijderen
    </a>
</p>

<table class="table table-striped">
	<tbody>
		<tr>
            <th>Datum</th>
			<td>{{ shift.date }}</td>
		</tr>
		<tr>
            <th>Plaats</th>
			<td>{{ shift.place }}</td>
		</tr>
		<tr>
            <th>Type</th>
			<td>{{ shift.shiftType.description }}</td>
		</tr>
		<tr>
            <th>Aanwezige kinderen</th>
			<td>{{ shift.presentChildren.length }}</td>
		</tr>
	</tbody>
</table>

<h3>Aanwezige kinderen ({{ shift.presentChildren.length }})</h3>

<ul>
	<li ng-repeat="child in shift.presentChildren">
        <a ng-click="childDetails(child)">{{ child.firstName + ' ' + child.lastName }}</a>
    </li>
</ul>
