<md-content layout-padding="">
    <form name="childForm">
        <md-input-container>
            <label>Voornaam</label>
            <input ng-model="selectedChild.firstName" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Achternaam</label>
            <input ng-model="selectedChild.lastName" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>GSM</label>
            <input ng-model="selectedChild.mobilePhone" ng-disabled="true"="">
        </md-input-container>

        <md-input-container>
            <label>Thuistelefoon</label>
            <input ng-model="selectedChild.landline" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Geboortedatum</label>
            <input ng-model="selectedChild.birthDate" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Straat en nummer</label>
            <input ng-model="selectedChild.street" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Gemeente</label>
            <input ng-model="selectedChild.city" ng-disabled="true">
        </md-input-container>

        <md-button class="md-raised md-primary" ui-sref="child.edit({ id: selectedChild.id })" ng-click="edit()">Bewerken</md-button>
    </form>
</md-content>
