<md-content layout-padding="">
    <form name="childForm">
        <md-input-container>
            <label>Voornaam</label>
            <input ng-model="selectedChild.firstName" required name="firstName">

            <div ng-messages="childForm.firstName.$error">
                <div ng-message="required">Dit is verplicht.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Achternaam</label>
            <input ng-model="selectedChild.lastName" required name="lastName">
            <div ng-messages="childForm.lastName.$error">
                <div ng-message="required">Dit is verplicht.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>GSM</label>
            <input ng-model="selectedChild.mobilePhone"/>
        </md-input-container>

        <md-input-container>
            <label>Thuistelefoon</label>
            <input ng-model="selectedChild.landline"/>
        </md-input-container>

        <md-input-container>
            <label>Geboortedatum</label>
            <input ng-model="selectedChild.birthDate"/>
        </md-input-container>

        <md-input-container>
            <label>Straat en nummer</label>
            <input ng-model="selectedChild.street"/>
        </md-input-container>

        <md-input-container>
            <label>Gemeente</label>
            <input ng-model="selectedChild.city"/>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="!childForm.$valid">{{ actionName }}</md-button>
    </form>
</md-content>
