<md-content flex="50" layout="column" layout-fill>
    <md-input-container>
        <label>Filter</label>
        <input ng-model="childFilterArg">
    </md-input-container>

    <md-list>
        <md-subheader class="md-no-sticky">Alle kinderen</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="child in children | personFilter:childFilterArg">
            <ng-md-icon icon="account_child" size="64"></ng-md-icon>
            <div class="md-list-item-text">
                <h3><a ui-sref="child.details({id: child.id})">{{ child.firstName }} {{ child.lastName }}</a></h3>
                <h4>{{ child.birthDate | date:"dd MMM yyyy" }}</h4>
                <p>{{ child.street }}<span ng-show="child.street">,</span> {{ child.city }}</p>
                <ng-md-icon class="md-secondary" ui-sref="child.attendances({ id: child.id })" icon="perm_contact_cal"></ng-md-icon>
            </div>
        </md-list-item>
    </md-list>

</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 auto-height" md-is-locked-open="true">
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">Details</h1>
            <span flex></span>

            <md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
                <ng-md-icon icon="refresh">
            </md-button>

            <md-button class="md-icon-button" aria-label="New volunteer" ng-click="create()" ng-hide="stateIs('child.new')">
                <ng-md-icon icon="add">
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding ui-view>
    </md-content>
</md-sidenav>
