<md-content layout-padding="">
    <form name="volunteerForm">
        <md-input-container>
            <label>Voornaam</label>
            <input ng-model="selectedVolunteer.firstName" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Achternaam</label>
            <input ng-model="selectedVolunteer.lastName" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <md-checkbox ng-model="selectedVolunteer.isPartOfCore" ng-disabled="true">
                Lid van de kern
            </md-checkbox>
        </md-input-container>

        <md-input-container>
            <label>GSM</label>
            <input ng-model="selectedVolunteer.mobilePhone" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Thuistelefoon</label>
            <input ng-model="selectedVolunteer.landline" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Geboortedatum</label>
            <input ng-model="selectedVolunteer.birthDate" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Straat en nummer</label>
            <input ng-model="selectedVolunteer.street" ng-disabled="true">
        </md-input-container>

        <md-input-container>
            <label>Gemeente</label>
            <input ng-model="selectedVolunteer.city" ng-disabled="true">
        </md-input-container>

        <md-button class="md-raised md-primary" ui-sref="volunteer.edit({ id: selectedVolunteer.id })" ng-click="edit()">Bewerken</md-button>
    </form>
</md-content>
