<md-content layout-padding="">
    <form name="volunteerForm">
        <md-input-container>
            <label>Voornaam</label>
            <input ng-model="selectedVolunteer.firstName" required name="firstName">

            <div ng-messages="volunteerForm.firstName.$error">
                <div ng-message="required">Dit is verplicht.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <label>Achternaam</label>
            <input ng-model="selectedVolunteer.lastName" required name="lastName">

            <div ng-messages="volunteerForm.lastName.$error">
                <div ng-message="required">Dit is verplicht.</div>
            </div>
        </md-input-container>

        <md-input-container>
            <md-checkbox ng-model="selectedVolunteer.isPartOfCore">
                Lid van de kern
            </md-checkbox>
        </md-input-container>

        <md-input-container>
            <label>GSM</label>
            <input ng-model="selectedVolunteer.mobilePhone"/>
        </md-input-container>

        <md-input-container>
            <label>Thuistelefoon</label>
            <input ng-model="selectedVolunteer.landline"/>
        </md-input-container>

        <md-input-container>
            <label>Geboortedatum</label>
            <input ng-model="selectedVolunteer.birthDate"/>
        </md-input-container>

        <md-input-container>
            <label>Straat en nummer</label>
            <input ng-model="selectedVolunteer.street"/>
        </md-input-container>

        <md-input-container>
            <label>Gemeente</label>
            <input ng-model="selectedVolunteer.city"/>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="save()" ng-disabled="!volunteerForm.$valid">{{ actionName }}
        </md-button>
    </form>
</md-content>
