<md-content class="people-list">
    <md-input-container>
        <label>Filter</label>
        <input ng-model="volunteerFilterArg">
    </md-input-container>

    <md-list>
        <md-subheader class="md-no-sticky">Alle animatoren</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="volunteer in volunteers | personFilter:volunteerFilterArg">
            <ng-md-icon icon="account_circle" size="64"></ng-md-icon>
            <div class="md-list-item-text">
                <h3><a ui-sref="volunteer.details({id: volunteer.id})">{{ volunteer.firstName }}</a></h3>
                <h4>{{ volunteer.lastName }}</h4>

                <p>{{ volunteer.city }}</p>
            </div>
        </md-list-item>
    </md-list>

</md-content>

<md-sidenav class="md-sidenav-right md-whiteframe-z2 auto-height" md-is-locked-open="true">
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
            <h1 class="md-toolbar-tools">Details</h1>
            <span flex></span>

            <md-button class="md-icon-button" aria-label="Refresh" ng-click="refresh()">
                <ng-md-icon icon="refresh">
            </md-button>

            <md-button class="md-icon-button" aria-label="New volunteer" ng-click="create()">
                <ng-md-icon icon="add">
            </md-button>

        </div>
    </md-toolbar>
    <md-content layout-padding ui-view>
    </md-content>
</md-sidenav>
