@(medicalFormPart: Form[models.MedicalFile])(implicit flash: Flash)

@import helper._

@implicitField = @{ FieldConstructor(bootstrap3FieldConstructorTemplate.f) }

@main("Nieuwe medische fiche") {
	@helper.form(action = routes.MedicalFiles.postForm, 'class -> "form-horizontal") {
		<fieldset>
			<legend>Medische fiche registreren</legend>
            @medicalFormPart("id").value.map { id =>
                <input type="hidden" value="@id" class="form-control" id="id" name="id">
            }
			@helper.inputText(medicalFormPart("firstName"), '_label -> "Voornaam", 'class -> "form-control")
			@helper.inputText(medicalFormPart("lastName"), '_label -> "Achternaam", 'class -> "form-control")
			@helper.inputText(medicalFormPart("street"), '_label -> "Straat en nummer", 'class -> "form-control")
			@helper.inputText(medicalFormPart("city"), '_label -> "Gemeente", 'class -> "form-control")

            @views.html.bootstrap3RadioGroup(
                medicalFormPart("isMale"),
                options = Seq("true"->"Mannelijk","false"->"Vrouwelijk"),
                '_label -> "Geslacht",
                '_error -> medicalFormPart("isMale").error.map(_.withMessage("Selecteer geslacht"))
            )

            <h2>Allergieën</h2>

            @helper.checkbox(medicalFormPart("allergicToDust"), '_label -> "Allergisch voor stof", 'class -> "form-control")
            @helper.checkbox(medicalFormPart("allergicToFacePaint"), '_label -> "Allergisch voor schmink", 'class -> "form-control")
            @helper.checkbox(medicalFormPart("allergicToBees"), '_label -> "Allergisch voor bijensteken", 'class -> "form-control")
            @helper.textarea(medicalFormPart("otherAllergies"), '_label -> "Andere allergieën (bepaalde medicatie, dieren, ...)", 'class -> "form-control")

            <h2>Aandoeningen</h2>

            @helper.checkbox(medicalFormPart("hasAsthma"), '_label -> "Astma", 'class -> "form-control")
            @helper.checkbox(medicalFormPart("hasHayFever"), '_label -> "Hooikoorts", 'class -> "form-control")
            @helper.checkbox(medicalFormPart("hasEpilepsy"), '_label -> "Epilepsie", 'class -> "form-control")
            @helper.checkbox(medicalFormPart("hasDiabetes"), '_label -> "Diabetes", 'class -> "form-control")
            @helper.textarea(medicalFormPart("otherConditions"), '_label -> "Andere aandoeningen", 'class -> "form-control")

            @helper.inputText(medicalFormPart("bloodType"), '_label -> "Bloegroep (indien geweten)", 'class -> "form-control")

            @helper.textarea(medicalFormPart("extraInformation"), '_label -> "Extra informatie", 'class -> "form-control")
            @helper.inputText(medicalFormPart("tetanusShot"), '_label -> "Meest recente inenting tetanus (leeg laten indien onbekend)", 'class -> "form-control datepicker")


            <button type="submit" class="btn btn-primary">Opslaan</button>
		</fieldset>
	}
}