<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Naam</th>
            <th>Geboortedatum</th>
            <th>Straat, nummer</th>
            <th>Gemeente</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="child in children">
            <td>{{ child.id }}</td>
            <td>
                <a href="" ng-click="details(child)">
                    {{ child.firstName + ' ' + child.lastName }}
                </a>
            </td>
            <td>
                {{ child.birthDate }}
            </td>
            <td>{{ child.street }}</td>
            <td>{{ child.city }}</td>
        </tr>
        </tbody>
    </table>
</div>
