<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Type</th>
            <th>Dag</th>
            <th>Plaats</th>
            <th>Aantal kinderen</th>
            <th>Opties</th>
        </tr>
        </thead>
        <tbody>

        <tr ng-repeat="shift in shifts">
            <td>
                {{ shift.shiftType.mnemonic }}
            </td>
            <td>
                {{ shift.date }}
            </td>
            <td>{{ shift.place }}</td>
            <td>
                {{ shift.numberOfChildren }}
            </td>
            <td>
                <a ng-click="details(shift)">Details</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
