@import be.thomastoye.speelsysteem.models.Crew
@(id: Crew.Id, crew: Crew)(implicit flash: Flash)

@main("Details voor " + crew.firstName + " " + crew.lastName) {

    <a href="@routes.CrewController.list">
        <span class="glyphicon glyphicon-chevron-left"></span> Terug naar lijst
    </a>

    <h2>Gegevens</h2>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>Voornaam</td>
                    <td>@crew.firstName</td>
                </tr>
                <tr>
                    <td>Achternaam</td>
                    <td>@crew.lastName</td>
                </tr>
                <tr>
                    <td>Geboortedatum</td>
                    <td>
                        @crew.birthDate
                    </td>
                </tr>
                <tr>
                    <td>Gestart in</td>
                    <td>
                        @crew.yearStarted
                    </td>
                </tr>
                <tr>
                    <td>Attest</td>
                    <td>TODO</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>Straat</td>
                    <td>@crew.address.street @crew.address.number</td>
                </tr>
                <tr>
                    <td>Gemeente</td>
                    <td>@crew.address.city</td>
                </tr>
                <tr>
                    <td>Telefoon</td>
                    <td>
                        <ul>
                            @for(phoneContact <- crew.contact.phone) {
                                <li>@phoneContact.phoneNumber (@phoneContact.kind.getOrElse("")@phoneContact.comment.map(x =>", $x"))</li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Emailadres</td>
                    <td>
                        <ul>
                            @for(email <- crew.contact.email) {
                                <li><a href="mailto:@email">@email</a></li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Rekeningnummer</td>
                    <td>
                        @crew.bankAccount.getOrElse("Geen opgegeven")
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h2>Aanwezigheden</h2>

    <ul>
    </ul>

}