@import be.thomastoye.speelsysteem.legacy.models.LegacyCrew
@(crew: LegacyCrew)(implicit flash: Flash)
@import helper._
@import java.text.SimpleDateFormat
@import _root_.helpers.DateTime._

@main("Details voor " + crew.firstName + " " + crew.lastName) {

    <a href="@routes.CrewController.list">
        <span class="glyphicon glyphicon-chevron-left"></span> Terug naar lijst
    </a>

    <h2>Gegevens</h2>
    <p>
        <a href="@routes.CrewController.editCrewMember(crew.id.get)">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Details bewerken
            </button>
        </a>
        <a href="???">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Aanwezigheden aanpassen
            </button>
        </a>
    </p>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>Voornaam</td>
                    <td>@crew.firstName</td>
                </tr>
                <tr>
                    <td>Achternaam</td>
                    <td>@crew.lastName</td>
                </tr>
                <tr>
                    <td>Geboortedatum</td>
                    <td>
                        @crew.birthDate.map(_.toString(fmt))
                    </td>
                </tr>
                <tr>
                    <td>Gestart in</td>
                    <td>
                        @crew.yearStartedVolunteering
                    </td>
                </tr>
                <tr>
                    <td>Attest</td>
                    <td>TODO</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>Straat</td>
                    <td>@crew.street @crew.streetNumber</td>
                </tr>
                <tr>
                    <td>Gemeente</td>
                    <td>@crew.city</td>
                </tr>
                <tr>
                    <td>GSM-nummer</td>
                    <td>@crew.mobilePhone</td>
                </tr>
                <tr>
                    <td>Thuistelefoon</td>
                    <td>@crew.landline</td>
                </tr>
                <tr>
                    <td>Email-adres</td>
                    <td>
                        <a href="mailto:@crew.email">@crew.email</a>
                    </td>
                </tr>
                <tr>
                    <td>Rekeningnummer</td>
                    <td>
                        @crew.bankAccount
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h2>Aanwezigheden</h2>

    <ul>
    </ul>

}