@import be.thomastoye.speelsysteem.legacy.models.LegacyCrew
@(crewMemberForm: Form[LegacyCrew])(implicit flash: Flash)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import helper._

@implicitField = @{ FieldConstructor(bootstrap3FieldConstructorTemplate.f) }

@main("Animator opslaan") {
	@helper.form(action = routes.CrewController.saveCrewMember, 'class -> "form-horizontal") {
		<fieldset>
			<legend>Animator (@crewMemberForm("firstName").value.getOrElse("nieuw") @crewMemberForm("lastName").value.getOrElse(""))</legend>
            @crewMemberForm("id").value.map { id =>
                <input type="hidden" value="@id" class="form-control" id="id" name="id">
            }
			@helper.inputText(crewMemberForm("firstName"), '_label -> "Voornaam", 'class -> "form-control")
			@helper.inputText(crewMemberForm("lastName"), '_label -> "Achternaam", 'class -> "form-control")
			@helper.inputText(crewMemberForm("mobilePhone"), '_label -> "GSM-nummer", 'class -> "form-control")
			@helper.inputText(crewMemberForm("landline"), '_label -> "Thuistelefoon", 'class -> "form-control")
            @helper.inputText(crewMemberForm("email"), '_label -> "Emailadres", 'class -> "form-control")
			@helper.inputText(crewMemberForm("birthDate"), '_label -> "Geboortedatum", 'class -> "form-control datepicker")
			@helper.inputText(crewMemberForm("street"), '_label -> "Straat", 'class -> "form-control")
			@helper.inputText(crewMemberForm("streetNumber"), '_label -> "Nummer", 'class -> "form-control")
			@helper.inputText(crewMemberForm("zipCode"), '_label -> "Postcode", 'class -> "form-control", 'type -> "number")
			@helper.inputText(crewMemberForm("city"), '_label -> "Gemeente", 'class -> "form-control")
			@helper.inputText(crewMemberForm("bankAccount"), '_label -> "Rekeningnummer", 'class -> "form-control")
			@helper.inputText(crewMemberForm("yearStartedVolunteering"), '_label -> "Jaar gestart", 'class -> "form-control")

			<button type="submit" class="btn btn-primary">Opslaan</button>
		</fieldset>
	}
}