@import be.thomastoye.speelsysteem.legacy.models.LegacyShift
@import be.thomastoye.speelsysteem.legacy.models.ShiftType
@(numberOfChildren: Int, shift: LegacyShift, shiftType: ShiftType)(implicit flash: Flash)
@import _root_.helpers.DateTime.fmt

@main("Dagdeel verwijderen") {
	@helper.form(action = routes.ShiftController.reallyDeleteShift, 'class -> "form-horizontal") {

        <div class="alert alert-warning" role="alert">
            <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <strong>Danger zone!</strong>
        </div>
        <h1>Zeker verwijderen?</h1>
        <ul>
            <li>Dag: <em>@shift.date.toString(fmt)</em></li>
            <li>Type: <em>@shiftType.description</em></li>
        </ul>
        <p>
            Er zijn <strong>@numberOfChildren</strong> kinderen ingeschreven voor dit dagdeel.
            @if(numberOfChildren != 0) {
                Die aanwezigheden worden <strong>ook verwijderd</strong>.
            }
        </p>


        @shift.id.map { (i: Long) =>
            <input type="hidden" value="@i" class="form-control" id="id" name="id">
        }
        <button type="submit" class="btn btn-primary">Ja, echt verwijderen</button>
    }
}