@()

@import helpers.DateTime._

@main("Alle dagdelen") {
    <h2 class="sub-header">Lijst van alle dagdelen</h2>
    <a href="@routes.Shifts.newShift">
            <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Nieuw dagdeel
            </button>
    </a>
    <div class="table-responsive" ng-app="speelsysteemApp" ng-controller="shiftController">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Dag</th>
                    <th>Plaats</th>
                    <th>Aantal kinderen</th>
                    <th>Opties</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="shift in shifts">
                    <td>
                        {{ shift.shiftType.mnemonic }}
                    </td>
                    <td>
                        <a href="/dagdelen/details/{{ shift.shiftId }}">{{ shift.date }}</a>
                    </td>
                    <td>{{ shift.place }}</td>
                    <td>
                        {{ shift.numberOfChildren }}
                    </td>
                    <td>
                        <a href="/dagdelen/delete/{{ shift.shiftId }}">Verwijderen</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}
