<md-content flex="20" layout="column" layout-fill>
    <md-subheader class="md-no-sticky">Alle activiteiten</md-subheader>
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="day in days | orderBy">
            <ng-md-icon icon="event" size="64"></ng-md-icon>
            <div class="md-list-item-text">
                <h3><a ui-sref="attendanceChild.dayDetails({ date: day })">{{ day | date:"dd MMMM yyyy"}}</a></h3>
                <h4>{{ day | date:"EEEE" }}</h4>
            </div>
        </md-list-item>
    </md-list>
</md-content>

<md-content flex="80" layout="row" layout-fill ui-view>
</md-content>
