@(acts: Seq[(ActivityType, Activity)])(implicit flash: Flash)

@import helpers.DateTime._

@main("Activiteiten") {
    <h2 class="sub-header">Lijst van alle activiteiten</h2>
    <a href="@routes.Activities.newActivity">
            <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Nieuwe activiteit
            </button>
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Type</th>
                    <th>Dag</th>
                    <th>Plaats</th>
                </tr>
            </thead>
            <tbody>

                @for(act <- acts) {
                <tr>
                    <td>@act._2.id.getOrElse("/")</td>
                    <td>
                        @act._1.mnemonic
                    </td>
                    <td>
                        @act._2.date.toString(fmt)
                    </td>
                    <td>@act._2.place</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

}