@()

@main("Alle animatoren") {
    <h2 class="sub-header">Lijst van alle animatoren</h2>
    <a href="@routes.Animators.newAnimator">
            <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Nieuwe animator
            </button>
    </a>
    <div class="table-responsive" ng-app="speelsysteemApp" ng-controller="animatorCtrl">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Naam</th>
                    <th>Geboortedatum</th>
                    <th>Straat, nummer</th>
                    <th>Gemeente</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="animator in animators">
                    <td>{{ animator.id }}</td>
                    <td>
                        <a href="/animator/details/{{ animator.id }}">
                            {{ animator.firstName + " " + animator.lastName }}
                        </a>
                    </td>
                    <td>
                    {{ animator.birthDate }}
                    </td>
                    <td>{{ animator.street }}</td>
                    <td>{{ animator.city }}</td>
                </tr>
            </tbody>
        </table>
    </div>


    <script>
        var app = angular.module('speelsysteemApp', []);
        app.controller('animatorCtrl', function($scope, $http) {
          $http.get("/api/animator/all")
          .success(function (response) {$scope.animators = response;});
        });
    </script>

}
