@import be.thomastoye.speelsysteem.legacy.models.Animator
@(animators: List[Animator])(implicit flash: Flash)
@import _root_.helpers.DateTime._

@main("Animatoren") {
    <h2 class="sub-header">Lijst van alle animatoren</h2>
    <a href="@routes.AnimatorController.newAnimator">
            <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-pencil"></span> Nieuwe animator
            </button>
    </a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Geboortedatum</th>
                    <th>Straat, nummer</th>
                    <th>Gemeente</th>
                </tr>
            </thead>
            <tbody>

                @for(animator <- animators) {
                <tr>
                    <td>
                        @animator.id.map { id =>
                            <a href="@routes.AnimatorController.details(id)">
                        }
                        @animator.firstName @animator.lastName
                        @animator.id.map { id =>
                            </a>
                        }
                    </td>
                    <td>
                    @animator.birthDate.map(_.toString(fmt))
                    </td>
                    <td>@animator.street @animator.streetNumber</td>
                    <td>@animator.city</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

}