@()(implicit flash: Flash)

@main("Homepage") {
<div class="jumbotron">
    <h1>Speelsysteem</h1>
    <em>Joepie, geen excel meer!</em>
</div>
<div class="row">
    <div class="col-xs-6">
        <h2>Aanwezigheden van animatoren</h2>
    </div>
</div>`
<div class="row">
    <div class="col-xs-4">
        <h2>Kinderen</h2>
        @linklist(Map("Lijst van alle kinderen" -> routes.ChildController.showList))
    </div>
    <div class="col-xs-4">
        <h2>Animatoren</h2>
        @linklist(Map("Lijst van alle animatoren" -> routes.CrewController.list))
    </div>
</div>
}