@(animator: Animator)(implicit flash: Flash)
@import helper._
@import java.text.SimpleDateFormat
@import helpers.DateTime._

@main("Details voor " + animator.firstName + " " + animator.lastName) {

    <a href="@routes.Animators.list">
        <span class="glyphicon glyphicon-chevron-left"></span> Terug naar lijst
    </a>

    <h2>Gegevens</h2>
    <p>
        <a href="@routes.Animators.editAnimator(animator.id.get)">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Details bewerken
            </button>
        </a>
        <a href="???">
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-pencil"></span> Aanwezigheden aanpassen
            </button>
        </a>
    </p>
    <div class="row">
        <div class="col-xs-6 col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>Voornaam</td>
                    <td>@animator.firstName</td>
                </tr>
                <tr>
                    <td>Achternaam</td>
                    <td>@animator.lastName</td>
                </tr>
                <tr>
                    <td>Geboortedatum</td>
                    <td>
                        @if(animator.birthDate.isDefined){
                            @animator.birthDate.get.toString(fmt)
                        }
                    </td>
                </tr>
                <tr>
                    <td>Kern</td>
                    <td>
                        @if(animator.isPartOfCore) {
                            <span class="glyphicon glyphicon-ok-sign"></span> Ja
                        } else {
                            <span class="glyphicon glyphicon-remove-sign"></span> Nee
                        }
                    </td>
                </tr>
                <tr>
                    <td>Gestart in</td>
                    <td>
                        @animator.yearStartedVolunteering
                    </td>
                </tr>
                <tr>
                    <td>Attest</td>
                    <td>TODO</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-6 col-md-6">
            <table class="table table-striped">
                <tr>
                    <td>Straat</td>
                    <td>@animator.street</td>
                </tr>
                <tr>
                    <td>Gemeente</td>
                    <td>@animator.city</td>
                </tr>
                <tr>
                    <td>GSM-nummer</td>
                    <td>@animator.mobilePhone</td>
                </tr>
                <tr>
                    <td>Thuistelefoon</td>
                    <td>@animator.landline</td>
                </tr>
                <tr>
                    <td>Email-adres</td>
                    <td>
                        <a href="mailto:@animator.email">@animator.email</a>
                    </td>
                </tr>
                <tr>
                    <td>Rekeningnummer</td>
                    <td>
                        @animator.bankAccount
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <h2>Aanwezigheden</h2>

    <ul>
    </ul>

}