@(childForm: Form[Child])
@import helper._

@implicitField = @{ FieldConstructor(bootstrap3FieldConstructorTemplate.f) }

@main("Nieuw kind") {
	@helper.form(action = routes.Children.saveChild, 'class -> "form-horizontal") {
		<fieldset>
			<legend>Kind (@childForm("firstName").value.getOrElse("nieuw") @childForm("lastName").value.getOrElse(""))</legend>
			<input type="hidden" value="@childForm("id").value" class="form-control" id="id" name="id">
			@helper.inputText(childForm("firstName"), '_label -> "Voornaam", 'class -> "form-control")
			@helper.inputText(childForm("lastName"), '_label -> "Achternaam", 'class -> "form-control")
			@helper.inputText(childForm("mobilePhone"), '_label -> "GSM-nummer", 'class -> "form-control")
			@helper.inputText(childForm("landline"), '_label -> "Thuistelefoon", 'class -> "form-control")
			@helper.inputText(childForm("birthDate"), '_label -> "Geboortedatum", 'class -> "form-control")
			@helper.inputText(childForm("street"), '_label -> "Straat en nummer", 'class -> "form-control")
			@helper.inputText(childForm("city"), '_label -> "Gemeente", 'class -> "form-control")
			@helper.inputText(childForm("medicalRecordChecked"), '_label -> "Medische fiche laatst gecontroleerd op", 'class -> "form-control")
			
			@helper.input(childForm("medischeFicheInOrde"), '_label -> "Medische fiche in orde") { (id, name, value, args) =>
                            <input type="checkbox" name="@name" id="@id" @toHtmlArgs(args)>
			}
			
			<button type="submit" class="btn btn-primary">Toevoegen</button>
		</fieldset>
	}
}