@(childForm: Form[Child])(implicit flash: Flash)
@import helper._

@implicitField = @{ FieldConstructor(bootstrap3FieldConstructorTemplate.f) }

@main("Nieuw kind") {
	@helper.form(action = routes.Children.saveChild, 'class -> "form-horizontal") {
		<fieldset>
			<legend>Kind (@childForm("firstName").value.getOrElse("nieuw") @childForm("lastName").value.getOrElse(""))</legend>
                        @if(childForm("id").value.isDefined) {
                            <input type="hidden" value="@childForm("id").value.get" class="form-control" id="id" name="id">
                        }
			@helper.inputText(childForm("firstName"), '_label -> "Voornaam", 'class -> "form-control")
			@helper.inputText(childForm("lastName"), '_label -> "Achternaam", 'class -> "form-control")
			@helper.inputText(childForm("mobilePhone"), '_label -> "GSM-nummer", 'class -> "form-control")
			@helper.inputText(childForm("landline"), '_label -> "Thuistelefoon", 'class -> "form-control")
			@helper.inputText(childForm("birthDate"), '_label -> "Geboortedatum", 'class -> "form-control")
			@helper.inputText(childForm("street"), '_label -> "Straat en nummer", 'class -> "form-control")
			@helper.inputText(childForm("city"), '_label -> "Gemeente", 'class -> "form-control")
			@helper.checkbox(childForm("medicalRecordGood"), '_label -> "Medische fiche in orde")
                        
			<button type="submit" class="btn btn-primary">Toevoegen</button>
		</fieldset>
	}
}