@(dagen: List[Dag], kindForm: Form[Kind], kind: Kind)
@import helper._

@implicitField = @{ FieldConstructor(bootstrap3CheckboxConstructorTemplate.f) }

@main("Inschrijven") {
	<h1>Aanwezigheden voor @kindForm("voornaam").value() @kindForm("achternaam").value()</h1>
	@helper.form(action = routes.Kinderen.registreerAanwezigheden()) {
		<input type="hidden" name="id" value='@kindForm("id").value()' >
		<input type="hidden" name="voornaam" value='@kindForm("voornaam").value()' >
		<input type="hidden" name="achternaam" value='@kindForm("achternaam").value()' >
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Dag</th>
					<th>Dagdelen</th>
				</tr>
			</thead>
			<tbody>
			@for((dag, index) <- dagen.zipWithIndex) {
				<tr>
					<td>@dag</td>
					<td>
						@if(kind.voormiddagen.contains(dag)) {
							@helper.input(kindForm("voormiddagen"), '_label -> "VM") { (id, name, value, args) =>
								<input type="checkbox" name="voormiddagen[@index].id" value="@dag.id" id="@id" @toHtmlArgs(args) checked>
							}
						} else {
							@helper.input(kindForm("voormiddagen"), '_label -> "VM") { (id, name, value, args) =>
								<input type="checkbox" name="voormiddagen[@index].id" value="@dag.id" id="@id" @toHtmlArgs(args)>
							}
						}
						
						
						
					</td>
				</tr>
			}
			</tbody>
		</table>
		<button type="submit" class="btn btn-primary">Opslaan</button>
	}
}