@(kind: Kind)
@import helper._
@import java.text.SimpleDateFormat

@main("Details voor " + kind.voornaam + " " + kind.achternaam) {
	<h2>Gegevens</h2>
	<p>
		<a href="@routes.Kinderen.edit(kind.id)">
			<button type="button" class="btn btn-default">
		  		<span class="glyphicon glyphicon-pencil"></span> Details bewerken
			</button>
		</a>
	</p>
	<p>
		<a href="@routes.Kinderen.inschrijfForm(kind.id)">
			<button type="button" class="btn btn-default">
		  		<span class="glyphicon glyphicon-pencil"></span> Aanwezigheden aanpassen
			</button>
		</a>
	</p>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<table class="table table-striped">
				<tr><td>Voornaam</td><td>@kind.voornaam</td></tr>
				<tr><td>Achternaam</td><td>@kind.achternaam</td></tr>
				<tr><td>Geboortedatum</td>
					<td>
						@if(kind.geboortedatum != null){
							@(new SimpleDateFormat("dd/MM/yyyy").format(kind.geboortedatum))
						}
					</td>
				</tr>
				<tr>
					<td>Medische fiche</td>
					<td>TODO</td>
				</tr>
				<tr>
					<td>Medische fiche laatst gecontroleerd</td>
					<td>
						@if(kind.medischeFicheGecontroleerd != null){
							@(new SimpleDateFormat("dd/MM/yyyy").format(kind.medischeFicheGecontroleerd))
						}
					</td>
				</tr>
			</table>
		</div>
		<div class="col-xs-6 col-md-6">
			<table class="table table-striped">
				<tr><td>Straat</td><td>@kind.straatEnNummer</td></tr>
				<tr><td>Gemeente</td><td>@kind.gemeente</td></tr>
				<tr><td>GSM-nummer</td><td>@kind.gsmnummer</td></tr>
				<tr><td>Thuistelefoon</td><td>@kind.thuistelefoon</td></tr>
			</table>
		</div>
	</div>
	
	<h2>Aanwezigheden</h2>
	
	<ul>
		@for(dag <- kind.voormiddagen) {
			<li>Was aanwezig op @dag</li>
		}
	</ul>
	
}