@()

<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>speelsysteem</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        @*<link href="http://cdn.rawgit.com/angular/bower-material/v0.10.0/angular-material.css" rel="stylesheet">*@
        <link href="@routes.WebJarAssets.at(WebJarAssets.locate("angular-material.css"))" rel="stylesheet">
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet">
        <meta name="viewport" content="initial-scale=1" />

        <script data-main="@routes.Assets.at("scripts/main.js")" src="@routes.Assets.at("lib/requirejs/require.js")"></script>

    </head>
    <body layout="column">
        <md-content layout="row" layout-fill>
                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools" ui-sref="home">speelsysteem</h1>
                    </md-toolbar>
                    <md-content layout-padding>
                        <md-list>
                            <md-list-item><a ui-sref="home">Home</a></md-list-item>
                            <md-list-item><a ui-sref="child">Kinderen</a></md-list-item>
                            <md-list-item><a ui-sref="volunteer">Animatoren</a></md-list-item>
                            <md-list-item><a ui-sref="attendance">Aanwezigheden</a></md-list-item>
                        </md-list>
                    </md-content>
                </md-sidenav>
                <md-content layout="row" flex layout-padding ui-view>
                    <!-- main content -->
                </md-content>
        </md-content>

    </body>
</html>
